{% extends 'base.html' %}
{% load static %}

{% block title %}
    About page
{% endblock %}


{% block content %}
   
In fact, <h1>Amazon.com</h1> did grow fast, reaching 180,000 customer accounts by December 1996, 
\after its first full year in operation, and less than a year later, in <h4>October 1997, 
    it had 1,000,000 customer accounts.</h4> Its revenues jumped from $15.7 million in 1996 to $148 million in 1997, 
followed by <h4>$610 million in 1998. Amazon.com’s</h4> success propelled its founder to become 
Time magazine’s 1999 Person of the Year.
  <img src="{% static 'images/jpeg/azamon.jpeg' %}" alt="">
{% endblock %}  
<img src="{% static 'images/jpeg/azamon.jpeg' %}" alt="">