{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <h4>Amazon's</h4> customer service number is <h5>1-888-280-4331 and the number is accessible 24/7, 7 days a week.</h5>
    <h4>Email:</h4>
    
    <br>

    <h5>Amazon’s</h5> customer service email address is <h5>cs-reply@amazon.com</h5>, but as Insider reports,
     the e-commerce company prefers to handle support via live chat or phone. 
    

    <img src="{% static 'images/jpeg/callcenter.jpeg' %}" alt="">

{% endblock %}